
{% extends 'base.html' %}

    {% block content %}
        <div>
        <h1>PROYECTOS LISTADO </h1>
            <table border="1">
                    <tr>
                        <td>
                        PROYECT NAME
                        </td>
                        <td>
                        CLIENT
                        </td>
                        <td>
                        COMPANY
                        </td>
                {% for namepro in projectslist %}
                    <tr>
                        <td>
                            {{ namepro.name }}
                        </td>
                        <td>
                            {{ namepro.client }}
                        </td>
                        <td>
                            {{ namepro.company }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endblock content %}
