
{% extends 'base.html' %}

    {% block content %}
        <h1>ClIENTES ALTA </h1>
        <div>
            <table>
                <tr>
                    <td>
                        <form method="POST" class="post-form">{% csrf_token %}
                            Dia que trabajas {{ weekdayform.as_p }}
                            <button type="submit">Save</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>


    {% endblock content %}
