<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      Ver si carga esto no hay manera

      <ul>
    {% if user.is_authenticated %}
    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
    <li><a href="{% url 'companynew' %}">Company</a></li>
    <li><a href="{% url 'usercompanynew' %}"> Nuevo Usuario</a> // <a href="{% url 'usercompanylist' %}"> Listado de Usuarios</a></li>
    <li><a href="{% url 'clients' %}"> Nuevo Clientes</a> // <a href="{% url 'clientslist' %}">   Listado de Clientes</a></li>
    <li><a href="{% url 'projects' %}"> Nuevo Projecto</a> // <a href="{% url 'projectslist' %}">   Listado de proyectos</a></li>
    <li><a href="{% url 'weekday' %}"> Nuevo Dia</a> // <a href="{% url 'weekdaylist' %}">   Listado de dias</a></li>
    <li><a href="{% url 'schedulecompany' %}"> horas por día</a> // <a href="{% url 'schedulecompanylist' %}">  Listado de horas por día</a></li>
    <li><a href="{% url 'request' %}"> Peticiones de recursos </a> // <a href="{% url 'requestlist' %}">  Listado de peticiones</a></li>
    <li><a href="{% url 'holiday' %}"> Nuevas vacacioens </a> // <a href="{% url 'holidaylist' %}">  Listado de vacaciones</a></li>
    <li><a href="{% url 'nameprolist' %}">  filtrado de planificaciones</a></li>


    {% else %}
    <li><a href="{% url 'account_login' %}">Sign In</a></li>
    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
